:root {
  --indicator-width: 3px;
}

.SelectedComponent {
  border-right: solid var(--indicator-width) #3e68ff;
  width: calc(100% - var(--indicator-width));
}

.Main {
  overflow-y: scroll;
  overflow-x: hidden;
}
