.Title {
  font-size: 2em;
  margin: 0px;
}

.AltText {
  color: #3e68ff;
}

.Main {
  padding: 2em;
}

.ModalButton {
    margin-top: 10px;
    margin-right: 10px
}

.ModalAlert {
    margin-top: 10px;
}